{% extends 'zzz/base.html' %}
{% block title %}Welcome {% endblock title %}
{% block main-content %}
    <!-- top tiles -->
    <div class="row" style="display: inline-block;" >
    
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="dashboard_graph">
                <div class="col-md-3 col-sm-3  bg-white">
                    
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-4 col-sm-4 ">
        </div>

        <div class="col-md-4 col-sm-4 ">
        </div>

        <div class="col-md-4 col-sm-4 ">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4 ">
        </div>

        <div class="col-md-8 col-sm-8 ">
        </div>
    </div>
{% endblock main-content %}
